# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.*
!.env.example
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing & Caches
.pytest_cache/
.coverage
coverage/
.mypy_cache/
.ruff_cache/

# FastAPI / Uvicorn
*.log

# Node
node_modules/
